@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600;700&family=DM+Sans:wght@400;500;600;700&display=swap");


:root {
  font-family: "DM Sans", sans-serif;
  --background: hsl(243, 96%, 9%);
  --foreground: #171717;  
  --neutral_900: hsl(243, 96%, 9%);
  --neutral_800: hsl(243, 27%, 20%);
  --neutral_700: hsl(243, 23%, 24%);
  --neutral_600: #2d1f49;
  --neutral_300: hsl(240, 6%, 70%);
  --neutral_200: hsl(250, 6%, 84%);
  --neutral_0: hsl(0, 0%, 100%);
  --orange_500: hsl(28, 100%, 52%);
  --blue_500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
  --font-body: "DM Sans", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", "Bricolage Grotesque", Helvetica, sans-serif;

  width: 100%;
}